<h1>collection</h1>

<a href="/perfumes/new">Add new</a>
<br><br>

See your perfumes:
<% @perfumes.each do |perfume| %>
<p>Perfume:</p>

<%= perfume.perfume_name %>
<%= perfume.perfunme_maker %>


<% end %>
